

:root {
  --cor-principal: #020529;
  --cor-secundaria: #f06806;
  --cor-fundo: #f8f9fa;
  --cor-cartao: #ffffff;
  --cor-texto: #1a1a1a;
}

body {
  font-family: Arial, sans-serif;
  background: var(--cor-fundo);
  margin: 0;
  padding: 0;
}

header {
  background: var(--cor-secundaria);
  color: white;
  padding: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  gap: 16px;
  list-style: none;
}

nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  background: white;
  margin: 20px;
  border-radius: 10px;
}

.hero-image-placeholder {
  background: #eee;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}

.products-section {
  padding: 20px;
}

.product-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap:1.5rem;
  margin-top: 1.5rem;

}
.product-card {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  border:var(--border);
  border-radius:var(--radius);
  background: var(--cor-cartao);
  padding: 1rem; 
  background: white;
  height:100%;
  margin: 20px;
  border-radius: 10px;
}

.product-card img {
  width: 100%;
  height:180px;
  object-fit: cover;
  border-radius: 10px;
}

.product-price {
  font-weight: bold;
  color: var(--cor-principal);
}

.btn-principal, .btn-secundario {
  background: var(--cor-principal);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-secundario {
  background: var(--cor-secundaria);
}

.contact-section {
  background: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

footer {
  background: var(--cor-secundaria);
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}

 /* Responsividade */
  @media screen and (max-width: 480px){
    body{
      width: 100%;
    }
    header{
      display: flex;      
    }

    i.bi-geo-alt, .nome-localizacao, i.bi-card-image{
      display: none;
    }

    ul.footer-card{
      flex-wrap: wrap;
      margin: auto;
      justify-content: center;
    }

    .footer-card a{
      width: 100%;    }    
  
  }